name: Auto Update Playlist

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests

      - name: Run updater
        env:
          M3U_URL: ${{ secrets.M3U_URL }}
        run: python script/Ayna_sm.py

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add Ayna-cl.m3u
          git commit -m "Auto update playlist" || echo "No changes"

          git pull --rebase origin main
          git push origin main
