name: Auto Update M3U

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # প্রতি 30 মিনিট

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run Ayna_CK script
        run: python "python script/Ayna_CK.py"

      - name: Commit & Push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Auto update sorted m3u" || echo "No changes"
          git push
